<div class="grid-container">
  {{#each result}}
  <figure class="images-songs">
    <img class="images-songs" src={{this.images.0.url}} alt="" width="200" height="200" />
    <h2>{{this.name}}</h2>
    <a href="/albums/{{this.id}}">View Albums</a>

    {{#if isInFavorites}}
	<div class="added-to-favourites">
    <button type="button" class="btn btn-success">Added to Favourites</button>
	</div>
	<div class="added-to-favourites">
	  <form action="/favorites-delete/{{this.name}}" method="post">
      <button type="submit" class="btn btn-danger">Delete from Favorites</button>
    </form>
     </div>
    {{else}}
	<div class="added-to-favourites">
    <form action="/favorites/{{this.id}}" method="post">
      <button type="submit" class="btn btn-warning">Add to Favorites</button>
    </form>
	</div>
    {{/if}}
   <div class="added-to-favourites">
    <a href="/comments/{{this.id}}">Leave a Comment</a>
	</div>
  </figure>
  {{/each}}
</div>


{{!-- <div >
    {{#each result}}
    <img  class="images-songs" src={{this.images.0.url}} alt="" width="200" height="200">
    <h2>{{this.name}}</h2>
    <a href="/albums/{{this.id}}">View Albums</a> 
   
   

    <form action="/favourites/{{this.id}}" method="post">
        <button type="submit" class="btn btn-warning">Add to Favourites</button>
    </form> 

 
   
{{/each}}

</div> --}}